body{
    background:#000000;
    color: #FFFFFF;
    font-family: "Verdana", "Times New Roman";
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-bottom: 15px;
}

img{    
   display: block;
   margin-left: auto;
   margin-right: auto;
   min-width: 350px;
   align-items: center;
   padding: 20px;
   border: 3px #FFFFFF;
   border-style: dashed;

}

div{
    min-height: 100px;
    padding: 20px;
    border: 3px #FFFFFF;
    border-style: solid;
}

 .intro{
    border-radius: 15px;
    margin-top: 15px;
}

.red{
    background: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px;
    border-left: 10px;
}

.blue{
    background: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 10px;
    border-bottom: 3px;
}

.yellow{
    background: #FFFF00;
    color: #000000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px;
    border-left: 10px;
}
.yellow h2{
        text-shadow: 2px 4px #c7e2c7;
}
.green{
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: 10px;
    border-bottom: 3px;
}

span{
    text-decoration: underline;
    text-transform: uppercase;
}

footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1));
}

footer > p{
    text-align: center;
    size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}